table{
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 10px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
 .leftimg {
     float:left;
     margin: 7px 7px 7px 0;
 }
ul.pagination {
    list-style-type: none;
}
ul.pagination li {
    float:left;
    padding-top:5px;
    display: inline;
    margin-left: 5px;
}
ul.pagination a{
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}
